@page
@model EADS.RazorDemo.Pages.Demo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DemoPresentationObject[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemoPresentationObject[0].DataStoreKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemoPresentationObject[0].PassPhrase)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DemoPresentationObject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataStoreKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassPhrase)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
